html{
  background: linear-gradient(#08f, #fff);
  padding-top: 40px;
  height: 100%;
  margin: 0 auto;
}

.linear-gradient {
  background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
}

.radial-gradient-before:before {
  background-image: radial-gradient(#444, #000);
}

.linear-gradient-after:after {
  background-image: linear-gradient(-0deg, #777 10%, #ccc 30%, #000);
}

.radial-gradient-brown {
  background-image: radial-gradient(brown, transparent);
}

.radial-gradient-orange {
  background-image: radial-gradient(orange, transparent);
}

.radial-gradient-lime {
  background-image: radial-gradient(lime, transparent);
}

.bg-size-5 {
  background-size: 5px 5px; 
}

.bg-shadow-red {
  box-shadow: 
  0 0 20px #111 inset,
  0 0 10px red;
}

.bg-shadow-yellow {
  box-shadow: 
  0 0 20px #111 inset,
  0 0 10px yellow;
}

.bg-shadow-green {
  box-shadow: 
  0 0 20px #111 inset,
  0 0 10px lime;
}

/* @keyframes red{
  0%{opacity: 1}
  20%{opacity: 1}
  40%{opacity: 1}
  60%{opacity: .1}
  80%{opacity: .1}
  100%{opacity: .1}
}

@keyframes yellow{
  0%{opacity: .1}
  20%{opacity: .1}
  40%{opacity: 1}
  50%{opacity: .1}
  60%{opacity: .1}
  80%{opacity: .1}
  100%{opacity: .1}
}

@keyframes green{
  0%{opacity: .1}
  20%{opacity: .1}
  40%{opacity: .1}
  60%{opacity: 1}
  80%{opacity: 1}
  83%{opacity: .1}
  86%{opacity: 1}
  89%{opacity: .1}
  93%{opacity: 1}
  96%{opacity: .1}
  100%{opacity: 1}
} */
